@using TriThucOnline_TTN.Models;
@model Author

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th>Mã tác giả:</th>
            <th>Tên tác giả:</th>
            <th>Ảnh tác giả:</th>
            <th>Thông tin tác giả:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.id</td>
            <td>@Model.name</td>
            <td>
                <img src="@Model.picture" style="width: 150px; height: auto">
            </td>
            <td>@Model.info</td>
        </tr>
    </tbody>
</table>


